TestMVC/TestMVC/Connected Services/SrvUsuario/SrvUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49727/Services/CRUD/SrvUsuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49727/Services/CRUD/SrvUsuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49727/Services/CRUD/SrvUsuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvUsuario_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_ConsultarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodos" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_ConsultarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_ConsultarPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorNombre" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_ConsultarPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_ConsultarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorId" />
  </wsdl:message>
  <wsdl:message name="ISrvUsuario_ConsultarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvUsuario">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvUsuario/Insertar" message="tns:ISrvUsuario_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvUsuario/InsertarResponse" message="tns:ISrvUsuario_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvUsuario/Editar" message="tns:ISrvUsuario_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvUsuario/EditarResponse" message="tns:ISrvUsuario_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvUsuario/Eliminar" message="tns:ISrvUsuario_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvUsuario/EliminarResponse" message="tns:ISrvUsuario_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvUsuario/ConsultarTodos" message="tns:ISrvUsuario_ConsultarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvUsuario/ConsultarTodosResponse" message="tns:ISrvUsuario_ConsultarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvUsuario/ConsultarPorNombre" message="tns:ISrvUsuario_ConsultarPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvUsuario/ConsultarPorNombreResponse" message="tns:ISrvUsuario_ConsultarPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvUsuario/ConsultarPorId" message="tns:ISrvUsuario_ConsultarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvUsuario/ConsultarPorIdResponse" message="tns:ISrvUsuario_ConsultarPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISrvUsuario" type="tns:ISrvUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/ISrvUsuario/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/ISrvUsuario/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/ISrvUsuario/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <soap:operation soapAction="http://tempuri.org/ISrvUsuario/ConsultarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorNombre">
      <soap:operation soapAction="http://tempuri.org/ISrvUsuario/ConsultarPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorId">
      <soap:operation soapAction="http://tempuri.org/ISrvUsuario/ConsultarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvUsuario">
    <wsdl:port name="BasicHttpBinding_ISrvUsuario" binding="tns:BasicHttpBinding_ISrvUsuario">
      <soap:address location="http://localhost:49727/Services/CRUD/SrvUsuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>