TestEjemploPlebes2017/TestEjemploPlebes2017/Connected Services/SrvSesion/SrvSesion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvSesion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49727/Services/Seguridad/SrvSesion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49727/Services/Seguridad/SrvSesion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvSesion_Encriptar_InputMessage">
    <wsdl:part name="parameters" element="tns:Encriptar" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Encriptar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncriptarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Desencriptar_InputMessage">
    <wsdl:part name="parameters" element="tns:Desencriptar" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Desencriptar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesencriptarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ISrvSesion_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvSesion">
    <wsdl:operation name="Encriptar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvSesion/Encriptar" message="tns:ISrvSesion_Encriptar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvSesion/EncriptarResponse" message="tns:ISrvSesion_Encriptar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Desencriptar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvSesion/Desencriptar" message="tns:ISrvSesion_Desencriptar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvSesion/DesencriptarResponse" message="tns:ISrvSesion_Desencriptar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvSesion/Logout" message="tns:ISrvSesion_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvSesion/LogoutResponse" message="tns:ISrvSesion_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvSesion/Login" message="tns:ISrvSesion_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvSesion/LoginResponse" message="tns:ISrvSesion_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SrvSesion" />
</wsdl:definitions>