MudanzasGuaymasWeb/MudanzasGuaymasWeb/Connected Services/SrvServicio/SrvServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Mostrar" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servicio" nillable="true" type="tns:Servicio" />
  <xs:complexType name="ArrayOfServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servicio" nillable="true" type="tns:Servicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicio" nillable="true" type="tns:ArrayOfServicio" />
</xs:schema>