TestEjemploPlebes2017/TestEjemploPlebes2017/Connected Services/SrvUsuario/SrvUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Llave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="preCita" nillable="true" type="tns:ArrayOfpreCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfpreCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preCita" nillable="true" type="tns:preCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpreCita" nillable="true" type="tns:ArrayOfpreCita" />
  <xs:complexType name="preCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hecho" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Terminado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="id_usuario" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="preCita_Paquetes" nillable="true" type="tns:ArrayOfpreCita_Paquetes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="preCita" nillable="true" type="tns:preCita" />
  <xs:complexType name="ArrayOfpreCita_Paquetes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preCita_Paquetes" nillable="true" type="tns:preCita_Paquetes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpreCita_Paquetes" nillable="true" type="tns:ArrayOfpreCita_Paquetes" />
  <xs:complexType name="preCita_Paquetes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Paquete" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_preCita" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Paquete" nillable="true" type="tns:Paquete" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="preCita" nillable="true" type="tns:preCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="preCita_Paquetes" nillable="true" type="tns:preCita_Paquetes" />
  <xs:complexType name="Paquete">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Servicio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mostrar" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="tns:Servicio" />
      <xs:element minOccurs="0" name="preCita_Paquetes" nillable="true" type="tns:ArrayOfpreCita_Paquetes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paquete" nillable="true" type="tns:Paquete" />
  <xs:complexType name="Servicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mostrar" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paquete" nillable="true" type="tns:ArrayOfPaquete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servicio" nillable="true" type="tns:Servicio" />
  <xs:complexType name="ArrayOfPaquete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paquete" nillable="true" type="tns:Paquete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaquete" nillable="true" type="tns:ArrayOfPaquete" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
</xs:schema>