MudanzasGuaymasWeb/MudanzasGuaymasWeb/Connected Services/SrvPreCita/SrvPreCita.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="preCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aceptado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Cantidad" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terminado" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="id_Paquete" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_usuario" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="preCita" nillable="true" type="tns:preCita" />
  <xs:complexType name="ArrayOfpreCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="preCita" nillable="true" type="tns:preCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpreCita" nillable="true" type="tns:ArrayOfpreCita" />
</xs:schema>