MudanzasGuaymasWeb/MudanzasGuaymasWeb/Connected Services/SrvPreCita/SrvPreCita2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49727/Services/Operaciones/SrvPreCita.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" />
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="preCita" nillable="true" type="q1:preCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="preCita" nillable="true" type="q2:preCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="preCita" nillable="true" type="q3:preCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="ConsultarTodosResult" nillable="true" type="q4:ArrayOfpreCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="ConsultarPorUsuarioResult" nillable="true" type="q5:ArrayOfpreCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="ConsultarPorIdResult" nillable="true" type="q6:preCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPendientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPendientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="ConsultarPendientesResult" nillable="true" type="q7:ArrayOfpreCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAceptadas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAceptadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" minOccurs="0" name="ConsultarAceptadasResult" nillable="true" type="q8:ArrayOfpreCita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>