MudanzasGuaymasWeb/MudanzasGuaymasWeb/Connected Services/SrvPreCita/SrvPreCita.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SrvPreCita" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49727/Services/Operaciones/SrvPreCita.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49727/Services/Operaciones/SrvPreCita.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49727/Services/Operaciones/SrvPreCita.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MudanzasGuaymasServices.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISrvPreCita_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodos" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarPorUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorUsuario" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarPorUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorId" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarPendientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPendientes" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarPendientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarAceptadas_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAceptadas" />
  </wsdl:message>
  <wsdl:message name="ISrvPreCita_ConsultarAceptadas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAceptadasResponse" />
  </wsdl:message>
  <wsdl:portType name="ISrvPreCita">
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/Insertar" message="tns:ISrvPreCita_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/InsertarResponse" message="tns:ISrvPreCita_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/Editar" message="tns:ISrvPreCita_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/EditarResponse" message="tns:ISrvPreCita_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/Eliminar" message="tns:ISrvPreCita_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/EliminarResponse" message="tns:ISrvPreCita_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarTodos" message="tns:ISrvPreCita_ConsultarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarTodosResponse" message="tns:ISrvPreCita_ConsultarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarPorUsuario" message="tns:ISrvPreCita_ConsultarPorUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarPorUsuarioResponse" message="tns:ISrvPreCita_ConsultarPorUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarPorId" message="tns:ISrvPreCita_ConsultarPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarPorIdResponse" message="tns:ISrvPreCita_ConsultarPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPendientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarPendientes" message="tns:ISrvPreCita_ConsultarPendientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarPendientesResponse" message="tns:ISrvPreCita_ConsultarPendientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAceptadas">
      <wsdl:input wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarAceptadas" message="tns:ISrvPreCita_ConsultarAceptadas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISrvPreCita/ConsultarAceptadasResponse" message="tns:ISrvPreCita_ConsultarAceptadas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SrvPreCita" />
</wsdl:definitions>